.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f2f2f2;
  background-size: 100%;
  position: relative;
}

.logo_place_header{
  position: absolute;
  margin: 0;
  left: 64px;
  top: 30px;
  width: 228px;
  height: 32px;
}

.header__title{
  margin: 0;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-items: center;
  z-index: 3;
  padding-left: 64px;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration-line: none; 
}

.header__main-illustration {
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: contain;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  margin: 0;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  position: absolute;
  z-index: 0; 
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  margin: 100px 0 100px 0;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;  
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph:nth-child(even) {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 100px auto;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.table {
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell{
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-top: 60px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  padding-top: 20px;
  margin: 0;
}

.table__text_bank {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal; 
}

.feynman {
  display: flex;
  min-height: 890px;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
  margin: 100px auto 0 auto;
  text-align: center;
}

.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  padding-top: 70px;
  margin: 0;
}

.feynman__link {
  position: absolute;
  margin: 0;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__picture {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.kaufman {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  position: relative; 
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 100%;
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
  margin: 90px auto 0 auto;
}

.section-subtitle_theme_dark {
  color: white;
  padding-top:20px;
}

.table_theme_dark {
  margin: 0 auto 90px auto;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  color: #1f1f1f;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px auto;
  color: white;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  color: white;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px 0 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 20px 0 16px 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right:16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}