.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #f2f2f2;
  background-size: 100%;
  position: relative;
}
.logo_place_header{
  position: absolute;
  margin:0;
  left: 64px;
  top:30px;
  width:228px;
  height: 32px;

}
.header__title{
  margin: 0;
  left:64px;
  width: 730px;
  line-height: 96px;
  font-size:102px;
  font-weight: 600;
  position: relative;
align-items: center;
}
.header__subtitle {
margin:0;
position:absolute;
width: 388px;
line-height: 25px;
font-size: 18px;
font-style:normal;
left:64px;
bottom: 30px;

}
.header__link {
  color:#2f80ed;
  text-decoration-line: none;
  
}
.header__main-illustration {
  margin:0;
  position: absolute;
  right:0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  margin:0;
  top:64px;
  right:0;
  background-color: #2f80ed;
  position:absolute;
  z-index: 0;
  
}
.description {
  margin: 100px auto 100px auto;
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  min-width: 784px;
  width: 80%;
  margin: 100px auto 100px auto;
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  padding-right: 40px;
  
}
.two-columns__main-text {
  width: 80%;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto 100px auto;
}
.section__tittle_theme_white {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin:0;
  margin-bottom: 20px;
}
.section__subtitle_theme_white {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin:0;
  margin-bottom: 60px;
}
.table_theme_white {
  display:flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;

}
.table__cell_theme_white {
width: 250px;
}
.table__heading_theme_white{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.table__text_theme_white {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-bottom:20px;
}
.table__text_theme_white_bank {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal; 
}
.feynman {
  display:flex;
  height: 890px;
  margin: 100px auto auto auto;
  flex-direction: column;
  position: relative;
  background-color: #f2f2f2;
}
.feynman__title {
  align-self: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 3;
}
.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}
.feynman__link {
  position: absolute;
  margin:0;
  top:50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}
.feynman__picture {
  margin:0;
  position: absolute;
  left:0;
  bottom: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
  z-index:1;
}

.kaufman {
margin: 90px auto 90px auto;
  display:flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  position: relative;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
 right:-210px;
z-index: 1;
}
.section__tittle_theme_dark {
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  color: white;

}
.section__subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  color: white;
  text-align: center;
  padding-bottom: 80px;
}
.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  z-index:2;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  
}
.table__text_theme_dark {
line-height: 1.2;
font-size: 18px;
font-weight: normal;
color: white;
}